# =======================
# LARGE FILES TO IGNORE (flagged >50MB)
# =======================

# =======================
# Ignore ArcGIS Pro Artifacts
# =======================
arcgis_project/*

# ==============================================================
# Output Data (Generated or Large Files) Raster and Vector files
# ==============================================================
data/raw/
data/processed/

# =======================
# Ignore generic
# =======================
*.zip
*.log
*.aux
*.toc
*.out
*.log

# ==================================================================
# Ignore binary Excel source metadata export logs or LaTeX leftovers
# ==================================================================
*.xlsx

# ======================================
# Ignore temporary or deprecated folders
# ======================================

# ==================================
# Ignore files not yet in production
# ==================================
RELEASE_CHECKLIST.Rmd

# =======================
# Ignore General Windows or MacOs cruft
# =======================
schema.ini
*.bak
*.tmp
~$*
*.db
.DS_Store

# =======================
# Ignore RStudio Junk
# =======================
.Rproj.user/
.Rhistory
.RData

# =========================================
# Ignore Temporary files to delete on final
# =========================================
delete/
prior-maps/
notebooks/
sandbox/
tmp/
